<!DOCTYPE html>

<head>
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript%}

  {% load static %}
  <link rel="stylesheet" href="{%static 'css/styles.css'%}" />
  <title> 
  {% block title%}
    My Blog.
  {% endblock %}  
  </title>

</head>

<body>

<nav class="navbar navbar-inverse">    
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/">Random</a></li>
    <li role="presentation"><a href="/about">About</a></li>
</nav>


<div id="content">
  {% block content %}
    This is a fallback template.
  {% endblock  %}
</div>


</body>